@import url('https://fonts.cdnfonts.com/css/eagle-4');

body {
    display: flex;
    font-family: 'Eagle Light', sans-serif;
    overflow: scroll;
}

.ion {
    font-size: 100px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 30%;
    color: white
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation

*/

.images {
    position: absolute;
    top: 0;
    right: 0;
    width: 22%;
    height: auto;
}

.login-image {
    position: relative;
    z-index: 0;

}

.login-container {
    position: absolute;
    z-index: 1;
}

.nav{
    width: 300px;
    margin: 1vh 0;
    height: 95%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #02ACAC;
    border-radius: 0 20px 20px 0;
}

.nav-link-container:first-child {
    margin-top: 3rem;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
}

.section {
    justify-content: center;
    align-items: center;
}

.user {
    position: absolute;
    top: 50px;
    left: 400px;
    font-family: 'Eagle Light', sans-serif;
}

.nav-link-container {
    display: flex;
    border: 1px solid white;
    border-radius: 25px;
    width: 250px;
    background: #02ACAC;
    text-align: center;
}

.nav-link {
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
}

.nav-session {
    display: block;
    align-items: center;
    justify-content: space-between;
    font-family: 'Eagle Light', sans-serif;
    font-size: 0.5em;
    padding: 10px; 
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-self: flex-end;
}

.nav-link-session { 
    border-radius: 25px;
    border: 1px solid white;
    width: 10em;
    background: #02ACAC;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 60px;
    text-align: center;
}   

.nav-text {
    font-size: 20px;
    font-family: 'Eagle Light', sans-serif;
    color: white;
}

.btn {
    position: absolute;
    top: 400px;
    left: 400px;
    height: 50px;
    width: 500px;
    align-content: center;
    font-size: 30px;
    background-color: #b9b9b9;
    border-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Eagle Light', sans-serif;

}

.error {
    position: absolute;
    top: 600px;
    left: 650px;
    width: 500px;
    align-content: center;
    font-size: 30px;
    transform: translate(-50%, -50%); 
    background-color: rgb(185, 185, 185);
    border: 2px solid;
    border-radius: 10px; 
}

.capsula1 {
    position: absolute;
    top: 280px;
    left: 720px;
    transform: translate(-50%, -50%);
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 630px;
    height: 70px;
    font-size: 20px;
}

.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
    box-sizing: border-box;
}

.checkbox-wrapper-39 label {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.checkbox-wrapper-39 input {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
    transform: rotate(45deg);
    width: 14px;
    margin-left: 12px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox-wrapper-39 .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}

.freq {
    position: absolute;
    top: 350px;
    left: 400px;
} 

.freq_n {
    position: absolute;
    top: 400px;
    left: 400px;
} 

.label1 {
    position: absolute;
    top: 340px;
    left: 450px;
}

.l1 {
    font-family: 'Eagle Light', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.l2 {
    font-family: 'Eagle Light', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.label2 {
    position: absolute;
    top: 390px;
    left: 450px;
}

.freq1 {
    position: absolute;
    top: 370px;
    left: 600px;
}   

.freq2 {
    position: absolute;
    top: 300px;
    left: 650px;
    transform: translate(-50%, -50%);
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 70px;
    font-size: 20px;
}

.freq3 {
    position: absolute;
    top: 500px;
    left: 716px;
    transform: translate(-50%, -50%);
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 630px;
    height: 70px;
    font-size: 20px;
}

.result-freq1 {
    position: absolute;
    top: 550px;
    left: 400px;
}

.result-freq {
    text-align: left;
    border: 2px solid #0c8f7e;
    border-radius: 8px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 60px;
    position: flex;
}

.btn-seguinte {
    position: absolute;
    top: 650px;
    left: 400px;
}

.btn-seguinte-1 {
    position: absolute;
    top: 500px;
    left: 400px;
}

.btn-back {
    position: absolute;
    top: 700px;
    left: 400px;
}

.error-ecg {
    position: absolute;
    top: 400px;
    left: 650px;
    width: 500px;
    align-content: center;
    font-size: 30px;
    transform: translate(-50%, -50%); 
    background-color: rgb(185, 185, 185);
    border: 2px solid;
    border-radius: 10px;
}

.seguinte {
    appearance: none;
    background-color: transparent;
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Eagle Light', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0c8f7e;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 500px;
    will-change: transform;
}
    
.seguinte:disabled {
    pointer-events: none;
}

.seguinte:hover {
    color: #fff;
    background-color: #0c8f7e;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.seguinte:active {
    box-shadow: none;
    transform: translateY(0);
}


.text {
    text-indent: 20px;
    font-family: 'Eagle Light', sans-serif;
}

.result {
    position: absolute;
    top: 450px;
    left: 700px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}

.result-ciclic {
    position: absolute;
    top: 550px;
    left: 700px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}

.capsula2 {
    position: absolute;
    top: 300px;
    left: 620px;
    transform: translate(-50%, -50%);
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 450px;
    height: 60px;
    font-size: 20px;
}

.capsula3 {
    position: absolute;
    top: 300px;
    left: 650px;
    transform: translate(-50%, -50%);
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 70px;
    font-size: 20px;
}

.capsula4 {
    position: absolute;
    top: 300px;
    left: 540px;
    transform: translate(-50%, -50%);
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-indent: 10px;
}

.result1 {
    position: absolute;
    top: 350px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}

.result2 {
    position: absolute;
    top: 400px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}

.result3 {
    position: absolute;
    top: 450px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}

.result4 {
    position: absolute;
    top: 500px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}

.result5 {
    position: absolute;
    top: 550px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}

.result9 {
    position: absolute;
    top: 600px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}
.result8 {
    position: absolute;
    top: 650px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;
}

.container-pac {
    position: absolute;
    top: 300px;
    left: 400px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #b9b8b8;
    width: 640px;
    height: 200px;
    text-align: center;
    align-content: center;
    border-style: dashed;
    border-width: 1.5px;
    font-family: 'Eagle Light', sans-serif;
}

.container-change {
    position: absolute;
    bottom: 25px;
    right: 400px;
    padding: 10px;
    background: #02ACAC;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    border-color: #02ACAC;
    border-style: double;
    text-align: center;
    align-content: center;
    border-width: 1.5px;
    font-family: 'Eagle Light', sans-serif;
}


.dropbox {
    font-size: 100px;   
    color: #000000;
}

/* CSS */
.button-34 {
  background: #02ACAC;
  border-radius: 999px;
  box-shadow: #02ACAC 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Eagle Light', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.container-pac1 {
    top: 400px;
    left: 600px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: #02ACAC;
    border: 1px solid #02ACAC;
    border-radius: 10px;
    width: 10%;
    height: 30px;
}

.pac {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Eagle Light', sans-serif;   
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.upload {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Eagle Light', sans-serif;   
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border-width: 1.5px;
    border: 1px solid red;
}

.listas {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    color: black;
  }
  
  .itenslista {
    display: list-item;
    text-align: left;
    font-family: verdana;
    font-size: 25px;
    list-style-type: circle;
  }


/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: 'Eagle Light', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.result6 {
    position: absolute;
    top: 450px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.result7 {
    position: absolute;
    top: 500px;
    left: 650px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}


/*
WELCOME
*/

.head{
    position: absolute;
    top: 15%;
    left: 22%;
    font-size: 670%;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;
}

.btn-28 {
    position: absolute;
    bottom: 20%;
    left: 37%;
}
.btn-10 {
    position: absolute;
    bottom: 20%;
    left: 47%;
}

.button-29 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Eagle Light', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0c8f7e;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-29:disabled {
    pointer-events: none;
  }
  
  .button-29:hover {
    color: #fff;
    background-color: #0c8f7e;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: none;
    transform: translateY(0);
  }

.btn-29 {
    position: absolute;
    top: 0x;
    left: 10px;
}

.doctor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22%;
    height: auto;
}

.chart {
    position: absolute;
    top:5%;
    right: 10%;
    width: 17%;
    height: auto;
}

.head-login {
    position: absolute;
    top: 150px;
    left: 650px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;
}

.c-user {
    position: absolute;
    top: 250px;
    left: 650px;
}

.c-pass {
    position: absolute;
    top: 330px;
    left: 650px;
}

.username {
    text-align: left;
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 60px;
    position: flex;
    left: 300;
    top: 500;
}

.password {
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 60px;
}

.password-message {
    position: absolute;
    top: 650px;
    left: 600px;
    width: 400px;
}

.message {
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;
}

.btn-31 {
    position: absolute;
    top: 500px;
    left: 650px;
    width: 400px;
}

.btn-30 {
    position: absolute;
    top: 500px;
    left: 825px;
    width: 175px;
}

.head-login-error {
    position: absolute;
    top: 150px;
    left: 765px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;

}

.btn-32 {
    position: absolute;
    top: 400px;
    left: 600px;
    width: 400px;
}

.error-login {
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 80px;
    font-size: 30px;
    text-align: center;
}

.c-error {
    position: absolute;
    top: 250px;
    left: 600px;
}


.btn-33 {
    position: absolute;
    top: 650px;
    left: 600px;
    width: 400px;
}

.btn-34 {
    position: absolute;
    top: 500px;
    left: 850px;
    width: 175px;
}

.c-first {
    position: absolute;
    top: 410px;
    left: 600px;
}

.c-last {
    position: absolute;
    top: 490px;
    left: 600px;
}

.c-conf {
    position: absolute;
    top: 570px;
    left: 600px;
}

.first {
    text-align: left;
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 60px;
}

.last {
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 60px;
}

.confirm {
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 60px;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  input[type="file"]::before {
    content: 'Selecione um ficheiro';
    display:block;
    background: #2d3533;
    color: #fff;
    border: none;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    line-height: 150%;
  }

.btn-34 {
    position: absolute; 
    top: 400px;
    left: 400px;
    width: 175px;
}


.button-30 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #02ACAC;
    cursor: pointer;
    display: inline-block;
    font-family: 'Eagle Light', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  .button-30:disabled {
    pointer-events: none;
  }
  
  .button-30:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: none;
    transform: translateY(0);
  }

.confirmar {
    position: absolute;
    top: 600px;
    left: 640px;
    width: 200px;
}

/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  flex: 1 1 auto;
  font-family: 'Eagle Light', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.back {
    color: rgb(160, 160, 160);
    font-size: 75px;
}

/*
LOGOUT
*/

.logout-container {
    position: absolute;
    top: 150px;
    left: 500px;
}

.logout-title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Eagle Light', sans-serif;
}

.logout-message {
    position: absolute;
    top: 400px;
    left: 400px;
    background-color: #b9b9b9;
    border: 2px solid black;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    text-align: center;
}

.log-m {
    font-size: 30px; 
}

.button-50 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #0c8f7e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Eagle Light', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0c8f7e;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 50px;
    will-change: transform;
  }
  
  .button-50:disabled {
    pointer-events: none;
  }
  
  .button-50:hover {
    color: #fff;
    background-color: #0c8f7e;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-50:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .btn-confirmar {
    position: absolute;
    top: 600px;
    left: 710px;
    text-align: center;
    width: 290px;
  }
  
  .btn-goback {
    position: absolute;
    top: 600px;
    left: 400px;
    width: 290px;
    text-align: center;
  }

.img-ecg {
    position: absolute;
    top: 400px;
    left: 300px;
    width: 100px;
    height: auto;
}

.img-result{
    width: 600px;
}