<html>
  <head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
  </head>
  <body>
    <div class="container">
      <h1 class="head-login">LOGIN</h1>
      <br>
      <form action="login" method="post" class="form-horizontal">

        <div class = "c-user">
            <input class="username" type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="c-pass">
            <input class="password" type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        
        <div class= "btn-31">
        <button class="button-29">PRÓXIMO</button>
      </div>
      <div class="btn-29">
        <a href="/">
          <ion-icon name="arrow-undo-outline" class="back"></ion-icon>
        </a>
      </div>
    </form>
    </div>

    <img class="images" src="{% static 'greyHeart.png' %}"  />

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
