<html>
  <head>
    <title>register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
      @import url('https://fonts.cdnfonts.com/css/comfortaa');
    </style>
  </head>
  <body>
    <ion-icon name="return-up-back-outline" class="ion"></ion-icon>

    <h1 class = 'head-login'>REGISTRAR</h1>
    <br>
    <form action="{% url 'register' %}" method="POST">
      <div class="c-user">
        <input class="username" type="text" name="username" id="username" placeholder="Enter Username" oninput="checkForm()"
          Required>
      </div>
      <div class="c-first">
        <input class="first" type="text" name="first_name" id="first_name" placeholder="Enter First Name" oninput="checkForm()"
          Required>
      </div>
      <div class="c-last">
        <input class = "last" type="text"  name="last_name" id="last_name" placeholder="Enter Last Name" oninput="checkForm()"
          Required>
      </div>
      <div class="c-pass">
        <input class="password" type="password" name="password" id="password" oninput="checkPassword()" placeholder="Enter Password"
          Required>
      </div>
      <div class="c-conf">
        <input class = "confirm" type="password" name="confirm_password" id="confirm_password" oninput="checkForm()"
          placeholder="Confirm Your Password" Required>
      </div>
      
      <div class="password-message">
        <p id="message" class="message"></p>
      </div>

      <div class= "btn-33" id="btn-33" style="display:none">
        <button class="button-29">PRÓXIMO</button>
      </div>
      <div class="btn-29">
        <a href="/">
          <ion-icon name="arrow-undo-outline" class="back"></ion-icon>
        </a>
      </div>
    </form>

    <script>
      function checkPassword() {
        var password = document.getElementById("password");
        var message = document.getElementById("message");
        var x = document.getElementById('btn-33')
        var lengthRegex = /.{8,}/; // pelo menos 8 caracteres
        var uppercaseRegex = /[A-Z]/; // pelo menos uma letra maiúscula
        var specialRegex = /[!@#$%^&*(),.?":{}|<>]/; // pelo menos um caracter especial
      
        if (!lengthRegex.test(password.value)) {
          message.innerHTML = "A senha deve ter pelo menos 8 caracteres";
        } else if (!uppercaseRegex.test(password.value)) {
          message.innerHTML = "A senha deve ter pelo menos uma letra maiúscula";
        } else if (!specialRegex.test(password.value)) {
          message.innerHTML = "A senha deve ter pelo menos um caracter especial";
        } else {
          message.innerHTML = "";
        }
      }
      </script>

      <script>
        function checkForm() {
          var name = document.getElementById("username");
          var first  = document.getElementById("first_name");
          var last = document.getElementById('last_name')
          var password = document.getElementById("password");
          var confirm = document.getElementById("confirm_password");

          var x = document.getElementById("btn-33");
        
          if (name.value && first.value && password.value && last.value && confirm.value) {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        </script>

    <img class="images" src="{% static 'greyHeart.png' %}"  />

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>