<!DOCTYPE html>
<html>
  <head>
    <title>welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <h1 class="head">WELCOME</h1>
    <div class= "btn-28">
      <a class="button-29" href="/login">LOGIN</a>
    </div>
    <div class="btn-29">
      <a class="button-29" href="/register">REGISTER</a>
    </div>

    <img class="doctor" src="{% static 'doctor.png' %}"/>

    <img class="chart" src="{% static 'chart.png' %}"/>

  </body>
</html>